body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f6fff3;
}

header {
  background-color: #3b7d2a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(120deg, #90c93e, #3b7d2a);
  color: white;
}

.btn {
  display: inline-block;
  background-color: white;
  color: #3b7d2a;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background-color: #f1f1f1;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #3b7d2a;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
